body {
    display: flex; 
    align-items: center;
    justify-content: space-around;
    margin: 60px;
    min-height: 100vh;
    background-color: rgb(181, 234, 232);
    font-family: Roboto, sans-serif;
    text-align: center;
    flex-direction: column;
    padding: 60px;
}
.header {
    flex-direction: column;
    font-weight: 700;
    font-size: 36px;
    color: #01435f;
}

.response {
    font-weight: 700;
    font-size: 24px;
    color: #01435f;
}

.square {
    background-color: white;
}

#grid_container {
    justify-content: center;
    display: grid;
    width: 960px;
    height: 960px;
} 