/*set style for body*/
body {
    display: flex; 
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
    background-color: rgb(204, 147, 228);
}


/*set style for each square element*/
.square {
    background-color: white;
    width: 20px;
    height: 20px;
    border-style: solid; 
    border-color: rgb(177, 67, 182);
    border-width: 2px 2px 2px 2px;
    flex: 1;
}

/*set style for 16 columns*/
.column {
    background-color: white;
    flex: 1;
}

#grid_container {
    display: flex;
}