/*set style for body*/
body {
    display: flex; 
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    height: 100vh;
    background-color: rgb(181, 234, 232);
    overflow: hidden;
    font-family: Roboto, sans-serif;
    text-align: center;
    flex-direction: column;
}
.header {
    flex-direction: column;
    font-weight: 700;
    font-size: 24px;
    color: #01435f;
}

/*set style for each square element*/
.square {
    background-color: white;
    border-style: solid; 
    border-color: rgb(57, 170, 196);
    border-width: 2px;
    width: 20px;
    height: 20px; 
}

/*set style for width columns*/
.column {
    background-color: white;
    flex: 1;
}

/*set style for width*width grid*/
#grid_container {
    display: flex;
    height: 600 px;
    width: 600 px; 

}